[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
numpy = "*"
plotly = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
pytest = "*"


[requires]
python_version = "3.9"
